{% extends 'base.html' %} {% block title %}Register User{% endblock %} {% block content%}

<h1 class="display-1 text-center">Register User</h1>
<div class="row justify-content-center">
    <div class="col-md-8">
        <form id="user_register_form" method="POST">
            {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !='hidden' %}
            <div class="form-group">
                {{ field.label }} {{ field(class="form-control") }} {% for error in field.errors %}
                <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
